
.inputContainer {
    position: relative;
  }
  
  .errorInput {
    border-color: #FF474D;
  }
  
  .errorInput::placeholder {
    color: #FF474D;
    opacity: 1; /* Override browser's default opacity for placeholder */
  }
  
  /* Optionally, if you want to add a specific styling for error messages inside the input fields */
  .errorMessage {
    color: #FF474D;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 12px;
    pointer-events: none;
  }

.register {
    width: 400px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    /* border-radius: 8px; */
    padding: 1rem;
    /* height: 600px; */
    text-align: center;
}


.register > form input {
    /* border-radius: 20px; */
    border: 2px solid lightgrey;
    outline: none;
    color: #1d2129;
    margin: 1% 0;
    width: 90%;
    padding: 6px;
    font-size: 16px;
}
input::placeholder {
    color: gray;
  }
  
  
