/* signup.css */

/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 900px;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  .signup {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
  }
  
  .signup-content {
    display: flex;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  .signup-form,
  .signup-image {
    width: 50%;
    padding: 30px;
  }
  
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .form-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    position: relative;
  }
  
  .form-group label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: #333;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .form-group input:focus {
    border-color: #6dabe4;
    outline: none;
  }
  
  .form-group input::placeholder {
    color: #999;
  }
  
  .form-submit {
    width: 100%;
    padding: 10px;
    background: #6dabe4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: background 0.3s;
  }
  
  .form-submit:hover {
    background: #4292dc;
  }
  
  .signup-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    background: #f1f1f1;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  
  .signup-image img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .signup-image-link {
    color: #6dabe4;
    font-size: 14px;
    text-decoration: none;
  }
  
  .signup-image-link:hover {
    text-decoration: underline;
  }
  