.container {
  display: flex;
}

h2 {
  color: black; 
}
label{
  margin-bottom: 5px;
}
         
/* button {
  background-image: linear-gradient(to right, #603813 0%, #b29f94  51%, #603813  100%);
  margin: 5px;
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
} */

button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}


.left-panel {
  margin-left: -40px;
  flex: 1.5;
  padding: 20px;

  background-color: white;
}
#submit-btn{
  background-image: radial-gradient(circle at 10% 20%, rgb(28, 142, 210) 0%, rgb(113, 192, 244) 47.3%, rgb(139, 238, 230) 88.4%);
  padding: 10px 35px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
  border-color: white;

}

.right-panel {
  margin-top: '70px';
  height: 80vh;
  flex: 1.6;
  padding-bottom: 28px;
  background-image: radial-gradient(circle at 10% 20%, rgb(28, 142, 210) 0%, rgb(113, 192, 244) 47.3%, rgb(139, 238, 230) 88.4%);
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align items vertically */
  align-items: center; /* Center align items horizontally */
}

.response-window {
  border-color: black;
  height: 120%;
  margin-top: 20px;
  width: 95%; /* Adjust width as needed */
  max-width: 800px; /* Limit maximum width */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  overflow-y: auto; /*Enable vertical scrollbar if content exceeds window height*/
}

.generated-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}
.copy-button{
  margin-top: 340px;
  margin-left: 270px;
}